<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.amazon.aws.dasmthc.alfred</string>
	<key>connections</key>
	<dict>
		<key>2CEFCDB0-7617-4413-B171-3AD18D57AA31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>222D2F3A-A9E0-43CF-919D-36052F8DE1B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C0328EF1-C6CC-4AC4-8F3A-BC19E5008E77</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Search alt.phone.tool for {query}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87EE4C24-05E3-42E1-AC11-061422F52419</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>156F65C9-F1CD-4FDC-A1CA-8D5CCBEDF8EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>96019D6F-02F0-4077-B810-6049B70D89C2</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy meeting URL to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6BC0CEB-DBFB-4F94-AD07-A45FF806E9C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30298F5C-E5E7-40AC-8811-7225D922AD29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>James Seward &lt;sewardjm@amazon.com&gt;, David Smith &lt;dasmthc@amazon.com&gt;</string>
	<key>description</key>
	<string>Access AWS internal tools quicker and easier with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AWS</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://phonetool.amazon.com/search?query={query}&amp;filter_type=All+fields</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>222D2F3A-A9E0-43CF-919D-36052F8DE1B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>phonetool</string>
				<key>subtext</key>
				<string>Search PhoneTool for {query}</string>
				<key>text</key>
				<string>AWS PhoneTool</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2CEFCDB0-7617-4413-B171-3AD18D57AA31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://jakecarr.integ.amazon.com/employee?stmt={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C0328EF1-C6CC-4AC4-8F3A-BC19E5008E77</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://answers.amazon.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>87CA6CB8-2076-4676-9131-4A61414FB279</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>156F65C9-F1CD-4FDC-A1CA-8D5CCBEDF8EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>join</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Examining calendar...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>next_chime.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Join Chime meeting</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>87EE4C24-05E3-42E1-AC11-061422F52419</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>96019D6F-02F0-4077-B810-6049B70D89C2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chime://meeting/?pin={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>30298F5C-E5E7-40AC-8811-7225D922AD29</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>join</string>
				<key>subtext</key>
				<string>Supply a meeting ID</string>
				<key>text</key>
				<string>Join Chime meeting {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D6BC0CEB-DBFB-4F94-AD07-A45FF806E9C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>AWS has a lot of helpful internal tools, this workflow helps you get access to them quickly and easily.

Features:
- Search Phonetool based on alias and name
- Hunt for Wisdom (and search the Wiki and Answers)
- Look up Accounts in insights and fraud tools
- Look up EC2 instance types
- Join Chime calls

and more.</string>
	<key>uidata</key>
	<dict>
		<key>156F65C9-F1CD-4FDC-A1CA-8D5CCBEDF8EE</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>222D2F3A-A9E0-43CF-919D-36052F8DE1B3</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>2CEFCDB0-7617-4413-B171-3AD18D57AA31</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>30298F5C-E5E7-40AC-8811-7225D922AD29</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>87CA6CB8-2076-4676-9131-4A61414FB279</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>87EE4C24-05E3-42E1-AC11-061422F52419</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>96019D6F-02F0-4077-B810-6049B70D89C2</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>C0328EF1-C6CC-4AC4-8F3A-BC19E5008E77</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>D6BC0CEB-DBFB-4F94-AD07-A45FF806E9C8</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.5.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
